<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>商品詳細</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div>
        <%= image_tag @item.get_image, width: 100, height: 100 %>
      </div>
    </div>
    <div class="col-lg-8">
      <table>
        <tbody>
          <tr>
            <td><p>商品名</p></td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td><p>商品説明</p></td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td><p>ジャンル</p></td>
            <td><%= @item.genre_id %></td>
          </tr>
          <tr>
            <td><p>税込価格</br>（税抜価格）</p></td>
            <td><%= (@item.price*1.1).round %><p>(<%= @item.price %>)</p></td>
          </tr>
          <tr>
            <td><p>販売ステータス</p></td>
            <td><%= @item.is_active %></td>
          </tr>
        </tbody>
      </table>
      <div>
      <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>