<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= flash[:inform] %>
      <h4>注文履歴詳細</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <table>
        <tbody>
          <tr>
            <td>購入者</td>
            <td><%= @order_information.customer.last_name %><%= @order_information.customer.first_name %></td>
          </tr>
          <tr>
            <td>注文日</td>
            <td><%= @order_information.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td><%= @order_information.address %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= @order_information.name %></td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order_information.payment_method_i18n %></td>
          </tr>
          <tr>
            <td>注文ステータス</td>
            <%= form_with model: @order_information, url: public_order_information_path(@order_information), method: :patch do |f| %>
              <td><%= f.select :order_status, OrderInformation.order_statuses.keys.to_a %></td>
              <td>
                <%= f.submit "更新", class: "btn btn-success" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <table class="table table-borderedless">
        <thead>
          <tr>
            <td>商品名</td>
            <td>単価（税込）</td>
            <td>数量</td>
            <td>小計</td>
            <td>製作ステータス</td>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.price_including_tax %></td>
              <td><%= order_detail.amount %></td>
              <td><%= (order_detail.price_including_tax)*(order_detail.amount) %></td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
                <td><%= f.select :production_status, OrderDetail.production_statuses.keys.to_a %></td>
                <td><%= f.submit "更新", class: "btn btn-success" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>