<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag @item.get_image, width:200, height:200 %>
    </div>
    <div class="col-lg-8">
      <span class="font-weight-bold h3"><%= @item.name %></span><br>
      <%= @item.introduction %><br>
      ¥<%= (@item.price*1.1).floor %><small>(税込)</small>

      <%= form_with model: @cart_item, url: {controller: 'cart_items', action: 'create'} do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..50] %>
        <%= f.submit 'カートに入れる', class: "btn btn-success" %>
       <% end %>
    </div>
  </div>
</div>